// Main Sass File
@fontface{
  font-family: mdilias41;
  src: url(../src\fonts\PlayfairDisplaySC-Bold.ttf);
}
$color-primary:#343a40;
$icon-size:50px;
$dark-overlay:rgba(0,0,0,0.5);
$dark-overlay2:rgba(0,0,0,0.6);
.navbar{
  box-shadow: 2px 2px 5px #3292a6;
.navbar-brand{border-radius: 30px;
background-color: $color-primary;
padding: 10px;
color: rgba(232, 234, 224, 0.73);
  box-shadow: 2px 2px 5px #3292a6;
}
.navbar-brand:hover{border-radius: 30px;
background-color: $color-primary;
padding: 10px;
color: white;
transform: scale(1.1);
}

  .nav-item{padding-left:0.5em;
    padding-right: 0.5em;
  .nav-link{
    text-transform: uppercase;

    }
    .nav-link:hover{
      text-transform: uppercase;
      color: black;
      transform: scale(1.1);


      }

  }
  .nav-item:hover{
    border-radius: 30px;

      box-shadow: 2px 2px 5px #3292a6;
    transition: 0.5s;}
}

.carousel-item{height: 450px;}
.carousel-img-1{
  background: url('../images/image1.jpeg');
  background-size:cover;
}
.carousel-img-2{
  background: url('../images/image2.jpeg');
  background-size:cover;
}
.carousel-img-3{
  background: url('../images/image3.jpeg');
  background-size:cover;
}
#section-icon{
  .fa{font-size: $icon-size;}
}
#get-start{position: relative;
  background: url('../images/pc.jpeg');
  background-repeat: no-repeat;
  background-attachment:fixed;
  min-height: 250px;
  background-size: cover;
  .dark-overlay{background: $dark-overlay;
  position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
}
}
#crash-course{ position: relative;
  background: url('../images/people.jpeg');
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 250px;
.dark-overlay2:hover{
  background: $dark-overlay2;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.col{margin-top:75px; }

  .fab{font-size:$icon-size; color: red; border-radius: 10px;padding-left: 10px;padding-right: 10px;padding-bottom: 2px;}
  h2{ margin-top: 20px;}
}
#photo-section{
  img{
    min-height: 280px;
  }
}
#signup{
  background: $color-primary;
}
#dark-content{
  background: url('../images/people.jpeg');
  background-repeat: no-repeat;
 background-size: cover;
 background-position:center;


  .dark-overlay3{

    background-color: $dark-overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    h1{
      color: white;
     font-family: mdilias;
     font-size: 100px;
    }
  }
}
#faq-area{

  .myh2{width: 700px;
  margin: 0 auto;
  border-radius: 30px;
}
}
/* services.html end here*/
/*blog-html*/
#bloghtml-area{ font-family: mdilias41;
  background: url('../images/image5.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  min-height: 350px;
  color: #e3f3e3;
  position: relative;
  margin-top: 65px;
 animation: move 50s;
  .blog-overlay{
    background-color: $dark-overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    .blog-text{ margin-top:60px;

   h1{
         font-family: mdilias41;
         color: #e3f3e3;
   }

   }

   }


}



@media(max-width:767px){
  #get-start{min-height:300px; }
  #faq-area{
    .myh2{width: 350px;
      font-size: 25px;
    margin: 0 auto;
    border-radius: 30px;
  }
  }
}
@media(max-width:480px){
    #get-start{min-height:345px; }
}
@media(max-width:400px){
    #get-start{min-height:380px; }
}
